/*  
#wrapper {
    margin-right: auto;
    margin-left: auto;
    max-width: 960px;
    padding-right: 10px;
    padding-left: 10px;
    background-color: li; */
/* body content area */
body {
    background: rgb(9,121,120);
    background: linear-gradient(90deg, rgba(9,121,120,1) 16%, rgba(0,255,201,1) 86%);
}
/* id header */
#header {
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 400%;
    text-decoration: underline;
    color: darkblue;
}
/* id nav */
#nav {
    padding: 20px;
    text-align: center;
    
    
    
}
/* text within nav */
.index, .about, .contact, .cv, .project {
    margin: 20px;
    font-size: 30px;
    font-weight: bold;
    border-style: solid;
    padding: 8px;
    border-radius: 50%;
    text-decoration: none;
    
}
/* Selected link */
a:active {
    color: purple;
    
}
/* visited link */
a:visited {
    color: purple
}


/* unvisited link */
a:link {
    color: lightblue;
}


/* mouse over link */
a:hover {
    color: lightgreen;
}
